<!DOCTYPE html>
<html>

  	<head>
  		<title>Takumi Kodama | University of Tsukuba, Japan</title>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="" />
  		<meta name="keywords" content="" />
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<script src="/js/jquery.min.js"></script>
  		<script src="/js/jquery.poptrox.min.js"></script>
  		<script src="/js/skel.min.js"></script>
  		<script src="/js/init.js"></script>
  		<noscript>
  			<link rel="stylesheet" href="/css/skel.css" />
  			<link rel="stylesheet" href="/css/style.css" />
  			<link rel="stylesheet" href="/css/style-xlarge.css" />
  			<link rel="stylesheet" href="/css/custom.min.css" />
  		</noscript>
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

	<body id="top">
      <script>!function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
          js=d.createElement(s);
          js.id=id;
          js.src=p+'://platform.twitter.com/widgets.js';
          js.async = true;
          fjs.parentNode.insertBefore(js,fjs);
          }
          }(document, 'script', 'twitter-wjs');</script>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id; js.async = true;
              js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

      <script>
      // leanModal v1.1 by Ray Stone - http://finelysliced.com.au
      $(function(){
      (function($){$.fn.extend({leanModal:function(options){var defaults={top:100,overlay:0.5,closeButton:null};var overlay=$("<div id='lean_overlay'></div>");$("body").append(overlay);options=$.extend(defaults,options);return this.each(function(){var o=options;$(this).click(function(e){var modal_id=$(this).attr("href");$("#lean_overlay").click(function(){close_modal(modal_id)});$(o.closeButton).click(function(){close_modal(modal_id)});var modal_height=$(modal_id).outerHeight();var modal_width=$(modal_id).outerWidth();
      $("#lean_overlay").css({"display":"block",opacity:0});$("#lean_overlay").fadeTo(200,o.overlay);$(modal_id).css({"display":"block","position":"fixed","opacity":0,"z-index":11000,"left":50+"%","margin-left":-(modal_width/2)+"px","top":o.top+"px"});$(modal_id).fadeTo(200,1);e.preventDefault()})});function close_modal(modal_id){$("#lean_overlay").fadeOut(200);$(modal_id).css({"display":"none"})}}})})(jQuery);

      $(".modalimg").leanModal();

      });
      </script>

      <header id="header">

          <a href="/" class="image avatar"><img src="/images/icon.jpg" alt="" /></a>
          <h1><strong>Ich heiße <a href="/profile/">Takumi Kodama</a></strong>,<br>
           ein Student am <a href="http://about.bci-lab.info/"  target="_blank">BCI-Lab-Group</a>,<br>
          <a href="https://www.tsukuba.ac.jp/english/"  target="_blank">Tsukuba Universität &#x1f1ef;&#x1f1f5;</a>.</h1>
      </header>

        {{ content }}

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">

             <li>
                <a href="https://www.facebook.com/takumi.kodama1004" class="icon fa-facebook-square"  target="_blank">
                </a>
              </li>

              <li>
                <a href="https://linkedin.com/in/takumikodama" class="icon fa-linkedin"  target="_blank">
                  <span class="label">LinkedIn</span>
                </a>
              </li>

              <li>
                <a href="https://github.com/shartsu" class="icon fa-github"  target="_blank">
                </a>
              </li>

              <li>
                <a href="https://scholar.google.com/citations?user=KSpXq5YAAAAJ&hl=en" class="nonborder"  target="_blank">
                  <i class="ai ai-google-scholar"></i>
                </a>
              </li>

              <li>
                <a href="https://www.researchgate.net/profile/Takumi_Kodama" class="nonborder" target="_blank">
                <i class="ai ai-researchgate-square"></i>
                </a>
              </li>

              <li>
                <a href="https://www.youtube.com/channel/UCDkvjerbLXZ0fs4leKVxX1g" class="icon fa-youtube"   target="_blank">
                </a>
              </li>

              <li>
                <a href="https://doyouhokkaido.herokuapp.com/" class="icon fa-camera-retro "  target="_blank">
                </a>
              </li>

            </ul>
            <ul class="copyright">

                <li>&copy; Takumi Kodama</li>
                <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
                <li>Jekyll Template: <a href="http://cloudcannon.com" target="_blank">Cloud Cannon</a></li>
            </ul>
        </footer>

	</body>
</html>
